<section class="preview_slider">
    <div class="slider" id="main-slider">
        <div class="slider-wrapper">
            <img *ngFor="let image of exhibitionImages" alt="" class="slide" src="{{ image }}" />
        </div>

        <div class="buttons">
            <button id="prev"><i class="fas fa-arrow-left"></i></button>
            <button id="next"><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>

    <div class="preview_count_image_holder">
        <span class="preview_count_image_first">1</span>
        <span> of </span>
        <span class="preview_count_image_second">1</span>
    </div>
</section>

<section class="preview_after_slider_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 preview_info_section">

                <div class="row preview_info_charcteristic_line">
                    <div class="col-lg-3  preview_info_charcteristic_type souvenir_menu_holder">
                        <app-submenu [menuList]="menuList"></app-submenu>
                    </div> 
                    <div class="col-lg-9"></div>
                    <div class="col-lg-3 preview_info_charcteristic_type">{{ 'shared.controls.name' | translate }}</div>
                    <div class="col-lg-9">
                        <div class="preview_makemodel_line">
                            <h1>
                                <span class="preview_makemodel">
                                {{data.exhibition.name}}
                                </span>
                                <span class="preview_year"></span>
                            </h1>
                        </div>

                        <div class="preview_characteristics_line">
                            <div class="preview_characteristics_line_first">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <i class="fas fa-tags" title="Tags"></i><span>{{'shared.controls.tags' | translate}}: </span> 
                                        <div *ngFor="let tag of data.exhibition.tags" class="list_item_badge">{{ tag }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row preview_info_charcteristic_line">
                    <div class="col-lg-3 preview_info_charcteristic_type">{{ 'shared.controls.description' | translate }}</div>
                    <div class="col-lg-9">
                        <div class="preview_description_line">
                            <div class="preview_description_holder" id="preview_description_holder">
                                <div>
                                   {{data.exhibition.description}}<br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 preview_form_section">
                <div class="preview_form_section_price_holder">
                    <div class="preview_form_section_price_currencyamount">
                        <div class="preview_form_section_header">{{ 'exhibition.view' | translate }}</div>
                    </div>
                </div>
                <div class="preview_form_section_form_holder">
                    <div *ngIf="isFinalSceen" class="preview_form_section_form_total_price_holder">
                        {{ 'exhibition.thanksForWatching' | translate }}
                    </div>
                    
                    <div class="form-group">
                        <app-button
                            class="btn btn--primary btn--big exhibition-instructional-screen__next-btn"
                            *ngIf="isFinalSceen"
                            (click)="handleBack()"
                            [label]="'shared.buttons.previous' | translate"
                        ></app-button>
                    </div>

                    <div class="form-group">
                        <app-button
                            class="btn btn--primary btn--big exhibition-instructional-screen__next-btn form-group"
                            (click)="handlePrimaryButtonClick()"
                            [label]="data.primaryButtonText | translate"
                        ></app-button>
                    </div>
                    
                    <div class="preview_form_section_form_under_btn_alert"></div>
                </div>
                <div class="preview_form_section_cut"></div>
            </div>
        </div>
    </div>
</section>