<div class="container">
    <div class="row justify-content-between">
        <div class="d-flex nav_links_holder">
            <a routerLink="/" class="nav_logo d-flex align-items-center">{{ 'menu.home' | translate }}</a>
            <a 
                *ngIf="isAuthenticated"
                routerLink="/museum/search"
            >{{ 'menu.museums' | translate }}</a>
        </div>
        <div class="nav_links_holder">
            <a 
                *ngIf="!isAuthenticated"
                routerLink="login"
            >{{ 'menu.login' | translate }}</a>

            <app-submenu
                *ngIf="isAuthenticated"
                [menuList]="menuList"
                [title]="'user.profile' | translate"
                (menuItemSelected)="onMenuItemSelected($event)"
            >
            </app-submenu>

            <a 
                *ngIf="isAuthenticated"
                routerLink="cart"
            >{{ 'menu.cart' | translate }}</a>

            <app-select-language></app-select-language>     
        </div>
    </div>
</div>
