<app-spinner *ngIf="isFetching"></app-spinner>
<form [formGroup]="formGroup">
    <div class="form-group">
        <label>
            {{ 'shared.controls.name' | translate }}
            <app-input [label]="'shared.controls.name' | translate" [control]="formGroup.controls.name"></app-input>
          </label>
    </div>

    <div class="form-group">
        <label>
            {{ 'shared.controls.description' | translate }}
            <app-input [label]="'shared.controls.description' | translate" [control]="formGroup.controls.description"></app-input>
          </label>
    </div>

    <div class="form-group">
        <label>
            {{ 'shared.controls.tags' | translate }}
            <app-chips 
                [label]="'shared.controls.tags' | translate"
                [control]="formGroup.controls.tags"
                [selectedOptions]="!!this.exhibition ? this.exhibition.tags : []"
            ></app-chips>
          </label>
    </div>

    <div class="form-group">
        <app-checkbox-group
            [options]="exhibitOptions"
            [label]="'shared.controls.exhibits' | translate"
            [control]="formGroup.controls.exhibitIds"
            [value]="selectedExhibits"
        ></app-checkbox-group>
    </div>

    <div class="form-group">
        <div class="mb5">{{ 'shared.controls.images' | translate }}</div>
        <input
            multiple
            type='file'
            value=""
            [formControl]="formGroup.controls.images"
            (change)="onSelectFile($event.target.files)">
    </div>

    <br>

    <app-button (click)="onSubmit()" [label]="'shared.buttons.submit' | translate"></app-button>
</form>

