@import './../../../../assets/styles/variables.scss';

.white-block {
    padding: 20px;
    width: 660px;
    box-shadow: 0 3px 12px 0 rgba(45, 42, 38, 0.04);
    background-color: $white;
    border-radius: 8px;
}