@import './../../../../assets/styles/variables.scss';

.exhibition-view-item-holder {
    background-color: $white;
    box-shadow: 0 3px 12px 0 rgba(45, 42, 38, 0.04);
    height: 80vh;
    margin: 15px 0;
    overflow-y: auto;
}