<button mat-icon-button [matMenuTriggerFor]="afterMenu">
  <mat-icon>{{ matIconType }}</mat-icon>
  {{ title | translate }}
</button>
<!-- <button mat-button [matMenuTriggerFor]="afterMenu">{{ title }}</button> -->
<mat-menu #afterMenu="matMenu" xPosition="after" ngbDropdownMenu>
  <a *ngFor="let menuItem of menuList" 
    mat-menu-item
    ngbDropdownItem
    [routerLink]="menuItem.href"
    (click)="onMenuItemSelected(menuItem.actionData, menuItem.href)"
    [state]="menuItem.state"
  >
    {{ menuItem.name | translate }}
  </a>
</mat-menu>