<div class="index_search_block" data-type="background" data-speed="10">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="index_search_holder">
                    <h1 class="index_search_holder_h1">Way better than offline visits</h1>
                    <h2 class="index_search_holder_h2">Check unforgettable exhibitions around the world staying home</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="index_cut_block">visit with pleasure</div>
</div>

<div class="index_second_block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="index_second_block_sign">
                    Discover the world's best digital museums platform
                </div>

                <div class="index_second_block__items_holder">
                    <div class="index_second_block__items_line">
                        <div class="col-lg-6">
                            <div class="index_second_block__item">
                                <div class="index_second_block__item_icon"><i class="pe-7s-car icon_orange"></i></div>
                                <div class="index_second_block__item_text">
                                    <div class="index_second_block__item_text__title">Endless options</div>
                                    <div class="index_second_block__item_text__content">Choose from hundreds of models you won't find anywhere else. Pick it up or get it delivered where you want it.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="index_second_block__item">
                                <div class="index_second_block__item_icon"><i class="pe-7s-id icon_orange"></i></div>
                                <div class="index_second_block__item_text">
                                    <div class="index_second_block__item_text__title">Personal driver</div>
                                    <div class="index_second_block__item_text__content">Order a car with personal driver if you are fed up with driving yourself or just tired after a long flight from far away. It's a nice option to enjoy landskapes behind the windows.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="index_second_block__items_line">
                        <div class="col-lg-6">
                            <div class="index_second_block__item">
                                <div class="index_second_block__item_icon"><i class="pe-7s-shield icon_orange"></i></div>
                                <div class="index_second_block__item_text">
                                    <div class="index_second_block__item_text__title">Insurance options included</div>
                                    <div class="index_second_block__item_text__content">Drive confidently with your choice of protection plans offered through Turo Insurance Agency - you're covered up to $1 million in liability insurance provided by Liberty Mutual.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="index_second_block__item">
                                <div class="index_second_block__item_icon"><i class="pe-7s-check icon_orange"></i></div>
                                <div class="index_second_block__item_text">
                                    <div class="index_second_block__item_text__title">As easy as it is</div>
                                    <div class="index_second_block__item_text__content">To drive you just send your id, select car and options you want and that's it. It's never been so easy.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="second_block_btn_holder">
                    <a href="#" class="btn btn-primary btn-action">Book the perfect car</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="statistic_landing">
    <div id="statistic_landing_border"></div>
    <div class="container" id="STATISTIC">
        <div class="row stat_row_landing" id="counts">
            <div class="col-4 stat_col_landing tac">
                <div class="header_2_light_black spincrement" style="opacity: 1;">@ViewBag.UsersCount</div>
                <p class="lightgray">Users</p>
            </div>
            <div class="col-4 stat_col_landing tac">
                <div class="header_2_light_black spincrement" style="opacity: 1;">@ViewBag.CarsPlaced</div>
                <p class="lightgray">Cars placed</p>
            </div>
            <div class="col-4 stat_col_landing tac">
                <div class="header_2_light_black spincrement" style="opacity: 1;">@ViewBag.Orders</div>
                <p class="lightgray">Orders</p>
            </div>
        </div>
    </div>
    <div id="statistic_landing_border"></div>
</div>

<section class="index_porsche_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="index_porsche_section_first_sign">driving at its finest</div>
                <div class="index_porsche_section_second_sign">Find the perfect car and enjoy</div>
                <div class="index_porsche_section_text">Earning money has never been so ease. It's enough for you just to have a car over 2007 year of production and a smartphone. Click the link below to log into your account start earning. If you don't have an account yet, you'll be redirected to the sign up page. We're proud that we can make your life easier!</div>
                <div class="index_porsche_section_btn_section"><a href="#" class="btn def-btn-lower">Find a car</a></div>
            </div>
        </div>
    </div>
</section>