<app-spinner *ngIf="isFetching"></app-spinner>

<div class="index_search_block" data-type="background" data-speed="10">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="index_search_holder">
                    <h1 class="index_search_holder_h1">{{ 'home.mainBlock.firstHeader' | translate }}</h1>
                    <h2 class="index_search_holder_h2">{{ 'home.mainBlock.secondHeader' | translate }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="index_cut_block">{{ 'home.mainBlock.hint' | translate }}</div>
</div>

<div class="index_second_block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="index_second_block_sign">
                    {{ 'home.infoBlock.header' | translate }}
                </div>

                <div class="index_second_block__items_holder">
                    <div class="index_second_block__items_line">
                        <div class="col-lg-6">
                            <div class="index_second_block__item">
                                <div class="index_second_block__item_icon"><i class="pe-7s-photo icon_orange"></i></div>
                                <div class="index_second_block__item_text">
                                    <div class="index_second_block__item_text__title">{{ 'home.infoBlock.firstElementHeader' | translate }}</div>
                                    <div class="index_second_block__item_text__content">{{ 'home.infoBlock.firstElementBody' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="index_second_block__item">
                                <div class="index_second_block__item_icon"><i class="pe-7s-id icon_orange"></i></div>
                                <div class="index_second_block__item_text">
                                    <div class="index_second_block__item_text__title">{{ 'home.infoBlock.secondElementHeader' | translate }}</div>
                                    <div class="index_second_block__item_text__content">{{ 'home.infoBlock.secondElementBody' | translate }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="index_second_block__items_line">
                        <div class="col-lg-6">
                            <div class="index_second_block__item">
                                <div class="index_second_block__item_icon"><i class="pe-7s-shield icon_orange"></i></div>
                                <div class="index_second_block__item_text">
                                    <div class="index_second_block__item_text__title">{{ 'home.infoBlock.thirdElementHeader' | translate }}</div>
                                    <div class="index_second_block__item_text__content">{{ 'home.infoBlock.thirdElementBody' | translate }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="index_second_block__item">
                                <div class="index_second_block__item_icon"><i class="pe-7s-box1 icon_orange"></i></div>
                                <div class="index_second_block__item_text">
                                    <div class="index_second_block__item_text__title">{{ 'home.infoBlock.fourthElementHeader' | translate }}</div>
                                    <div class="index_second_block__item_text__content">{{ 'home.infoBlock.fourthElementBody' | translate }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="second_block_btn_holder">
                    <a routerLink="/museum/search" class="btn btn-primary btn-action">{{ 'home.infoBlock.button' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="statistic_landing">
    <div id="statistic_landing_border"></div>
    <div class="container" id="STATISTIC">
        <div class="row stat_row_landing" id="counts">
            <div class="col-4 stat_col_landing tac">
                <div class="header_2_light_black spincrement" style="opacity: 1;">{{statistics.usersCount}}</div>
                <p class="lightgray">{{ 'home.statistics.users' | translate }}</p>
            </div>
            <div class="col-4 stat_col_landing tac">
                <div class="header_2_light_black spincrement" style="opacity: 1;">{{statistics.exhibitsCount}}</div>
                <p class="lightgray">{{ 'home.statistics.exhibitsPlaced' | translate }}</p>
            </div>
            <div class="col-4 stat_col_landing tac">
                <div class="header_2_light_black spincrement" style="opacity: 1;">{{statistics.ordersCount}}</div>
                <p class="lightgray">{{ 'home.statistics.orders' | translate }}</p>
            </div>
        </div>
    </div>
    <div id="statistic_landing_border"></div>
</div>

<section class="index_porsche_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="index_porsche_section_first_sign">{{ 'home.bottomBlock.title' | translate }}</div>
                <div class="index_porsche_section_second_sign">{{ 'home.bottomBlock.header' | translate }}</div>
                <div class="index_porsche_section_text">{{ 'home.bottomBlock.body' | translate }}</div>
                <div class="index_porsche_section_btn_section"><a href="#" class="btn def-btn-lower">{{ 'home.bottomBlock.button' | translate }}</a></div>
            </div>
        </div>
    </div>
</section>