<mat-form-field class="custom-form-control custom-chip-list">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let option of selectedOptions;"
      removable
      selectable
      (removed)="onChipRemove(option)"
    >
      {{ option }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      [placeholder]="label"
      #chipInput
      [formControl]="hiddenControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="onChipAdd($event)"
      (focus)="onInputFocus()"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelect($event)">
    <mat-option *ngFor="let option of filteredOptions$ | async;" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
