<app-spinner *ngIf="isFetching"></app-spinner>

<div class="container p-0 pt-4">
    <div class="search-block">
        <div class="filter-block">
            <form [formGroup]="formGroup">
                <div>
                    <label>
                        {{ 'museum.name' | translate }}
                        <app-input [label]="'museum.name' | translate" [control]="formGroup.controls.name"></app-input>
                      </label>
                </div>
        
                <div>
                    <label>
                        {{ 'location.country' | translate }}
                        <app-select
                            [label]="'location.country' | translate"
                            [control]="formGroup.controls.countryId"
                            [options]="countries$ | async"
                        ></app-select>
                      </label>
                </div>
            
                <div>
                    <label>
                        {{ 'location.region' | translate }}
                        <app-select
                            [label]="'location.region' | translate"
                            [control]="formGroup.controls.regionId"
                            [options]="regions$ | async"
                        ></app-select>
                      </label>
                </div>
            
                <div>
                    <label>
                        {{ 'location.city' | translate }}
                        <app-select
                            [label]="'location.city' | translate"
                            [control]="formGroup.controls.cityId"
                            [options]="cities$ | async"
                        ></app-select>
                      </label>
                </div>
        
                <div>
                    <label>
                        {{ 'museum.genre' | translate }}
                        <app-select
                            [label]="'museum.genre' | translate"
                            [control]="formGroup.controls.genres"
                            [options]="genres$ | async"
                        ></app-select>
                      </label>
                </div>
        
                <div>
                    <label>
                        {{ 'museum.sortingMethod' | translate }}
                        <app-select
                            [label]="'museum.sortingMethod' | translate"
                            [control]="formGroup.controls.sortingMethod"
                            [options]="genres$ | async"
                        ></app-select>
                      </label>
                </div>
        
                <app-button (click)="onSubmit()" [label]="'shared.buttons.submit' | translate"></app-button>
            </form>
        </div>
        
        <div class="museums-block">
            <section class="list_items_section">
                <div class="container-fluid container-fluid-padding">
                    <div class="row">
                        <div *ngFor="let museum of museums$ | async" class="col-lg-6 list_item_block cursor-pointer" (click)="onDetails(museum.id)" [label]="'museum.buttons.details' | translate">
                            <div  class="list_item_image_holder" [ngStyle]="{'background-image': getMuseumImage(museum)}">
                                
                            </div>
                            <div class="list_item_description">
                                <span class="list_item_description_makemodel">{{ museum.name }}</span>
                            </div>
                            <div class="list_item_badges_holder">
                                <div class="list_item_badge">{{ museum.genreName }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list_items_section_overlay hide"></div>
            </section>
        </div>
        
    </div>
</div>

