<app-spinner *ngIf="isFetching"></app-spinner>

<br>

<form [formGroup]="formGroup">
    <div class="form-group">
        <label>
            {{ 'museum.name' | translate }}
            <app-input [label]="'museum.name' | translate" [control]="formGroup.controls.name"></app-input>
          </label>
    </div>

    <div class="form-group">
        <label>
            {{ 'museum.description' | translate }}
            <app-input [label]="'museum.description' | translate" [control]="formGroup.controls.description"></app-input>
          </label>
    </div>

    <div class="form-group">
        <label>
            {{ 'location.country' | translate }}
            <app-select
                [label]="'location.country' | translate"
                [control]="formGroup.controls.countryId"
                [options]="countries$ | async"
            ></app-select>
          </label>
    </div>

    <div class="form-group">
        <label>
            {{ 'location.region' | translate }}
            <app-select
                [label]="'location.region' | translate"
                [control]="formGroup.controls.regionId"
                [options]="regions$ | async"
            ></app-select>
          </label>
    </div>

    <div class="form-group">
        <label>
            {{ 'location.city' | translate }}
            <app-select
                [label]="'location.city' | translate"
                [control]="formGroup.controls.cityId"
                [options]="cities$ | async"
            ></app-select>
          </label>
    </div>

    <div class="form-group">
        <label>
            {{ 'location.address' | translate }}
            <app-input [label]="'location.address' | translate" [control]="formGroup.controls.address"></app-input>
          </label>
    </div>

    <div class="form-group">
        <label>
            {{ 'museum.genre' | translate }}
            <app-select
                [label]="'museum.genre' | translate"
                [control]="formGroup.controls.genreId"
                [options]="genres$ | async"
            ></app-select>
          </label>
    </div>

    <div class="form-group">
        <div>{{ 'museum.images' | translate }}</div>

        <app-file-upload
            [control]="formGroup.controls.images"
            (selectedFilesChanged)="onSelectFile($event)"
        ></app-file-upload>
    </div>

    <div *ngIf="isInfoChanged && !isModal" class="form-group">
        <span class="text-success">{{ resultMessageKey | translate }}</span>
    </div>

    <app-button (click)="onSubmit()" [label]="'shared.buttons.submit' | translate"></app-button>
</form>