<app-spinner *ngIf="isFetching"></app-spinner>

<form [formGroup]="formGroup">
    <div class="form-group">
        <label>
            {{ 'museum.entity' | translate }}
            <app-select
                [label]="'museum.entity' | translate"
                [control]="formGroup.controls.museumId"
                [options]="museums$ | async"
            ></app-select>
          </label>
    </div>

    <div class="form-group">
        <label>
            {{ 'museum.user' | translate }}
            <app-select
                [label]="'user.entity' | translate"
                [control]="formGroup.controls.userId"
                [options]="users$ | async"
            ></app-select>
          </label>
    </div>

    <app-button (click)="onSubmit()" [label]="'shared.buttons.submit' | translate"></app-button>
</form>