<app-submenu
    [menuList]="menuList"
>
</app-submenu>

<div class="search-block">
    <div class="filter-block">
        <form [formGroup]="formGroup">
            <div>
                <label>
                    {{ 'shared.controls.name' | translate }}
                    <app-input [label]="'shared.controls.name' | translate" [control]="formGroup.controls.name"></app-input>
                  </label>
            </div>
    
            <div>
                <label>
                {{ 'shared.controls.tags' | translate }}
                <app-chips 
                    [label]="'shared.controls.tags' | translate"
                    [control]="formGroup.controls.tags"
                ></app-chips>
                </label>
            </div>
    
            <app-button (click)="onSubmit()" [label]="'shared.buttons.submit' | translate"></app-button>
        </form>
    </div>
    
    <div class="exhibitions-block">
        <div *ngFor="let exhibition of exhibitions$ | async">
            <label>{{ 'shared.controls.name' | translate }}: {{ exhibition.name }}</label>
            <br>
            <app-button (click)="onDetails(exhibition.id)" [label]="'shared.buttons.details' | translate"></app-button>
        </div>
    </div>
</div>

