<p>login works!</p>

<form [formGroup]="formGroup">
    <label>
      {{ 'account.login.email' | translate }}
      <app-input [label]="'account.login.email' | translate" [control]="formGroup.controls.email"></app-input>
    </label>
    <label>
        {{ 'account.login.password' | translate }}
        <app-input [label]="'account.login.password' | translate" [control]="formGroup.controls.password"></app-input>
    </label>
    <button (click)="authenticate()">{{ 'account.login.login-btn' | translate }}</button>
</form>
  
<button (click)="externalAuth(googleProviderId)">{{ 'account.login.google-login-btn' | translate }}</button>
