<mat-card>
    <mat-card-title>{{ 'account.change-password.title' | translate }}</mat-card-title>

    <br>

    <mat-card-content>
        <div class="form-group">
            <label>
                {{ 'account.change-password.old-password' | translate }}
                <app-input
                    [label]="'account.change-password.old-password' | translate"
                    [control]="formGroup.controls.oldPassword"
                    [inputType]="'password'"
                ></app-input>
              </label>
        </div>
    
        <div class="form-group">
            <label>
                {{ 'account.change-password.new-password' | translate }}
                <app-input
                    [label]="'account.change-password.new-password' | translate"
                    [control]="formGroup.controls.newPassword"
                    [inputType]="'password'"
                    (change)="onPasswordChange()"
                ></app-input>
              </label>
        </div>
    
        <div class="form-group">
            <label>
                {{ 'account.change-password.confirm-new-password' | translate }}
                <app-input
                    [label]="'account.change-password.confirm-new-password' | translate"
                    [control]="formGroup.controls.newPasswordConfirmation"
                    [inputType]="'password'"
                    (change)="onPasswordChange()"
                ></app-input>
              </label>
        </div>

        <div *ngIf="!isPasswordChanged" class="form-group">
            <span class="text-danger">{{ resultMessageKey | translate }}</span>
        </div>

        <div *ngIf="isPasswordChanged" class="form-group">
            <span class="text-success">{{ resultMessageKey | translate }}</span>
        </div>
    </mat-card-content>
    
    <mat-card-actions>
        <app-button
            (click)="onSubmit()"
            [label]="'shared.buttons.submit' | translate"
            [isDisabled]="isFormInvalid"
        ></app-button>
    </mat-card-actions>
</mat-card>