<mat-card>
    <mat-card-title>Change Password</mat-card-title>

    <br>

    <mat-card-content>
        <div>
            <label>
                {{ 'account.change-password.old-password' | translate }}
                <app-input
                    [label]="'account.change-password.old-password' | translate"
                    [control]="formGroup.controls.oldPassword"
                    [inputType]="'password'"
                ></app-input>
              </label>
        </div>
    
        <div>
            <label>
                {{ 'account.change-password.new-password' | translate }}
                <app-input
                    [label]="'account.change-password.new-password' | translate"
                    [control]="formGroup.controls.newPassword"
                    [inputType]="'password'"
                ></app-input>
              </label>
        </div>
    
        <div>
            <label>
                {{ 'account.change-password.confirm-new-password' | translate }}
                <app-input
                    [label]="'account.change-password.confirm-new-password' | translate"
                    [control]="formGroup.controls.newPasswordConfirmation"
                    [inputType]="'password'"
                ></app-input>
              </label>
        </div>
    </mat-card-content>
    
    <mat-card-actions>
        <app-button (click)="onSubmit()" [label]="'shared.buttons.submit' | translate"></app-button>
    </mat-card-actions>
</mat-card>