:host {    
    display: flex;
    justify-content: center;
    
    mat-card {
        width: 40%;
        margin-top: 40px;
        padding: 30px;

        &-title {
            text-align: center;
        }
    }
}
